body {
    font-family: sans-serif;
    background: #1F1C21;
    overscroll-behavior: contain;
    color: white;
}

#main {
    padding: 10px;
    max-width: 800px;
    display: block;
    margin: auto;
    position: relative;
}

.disclaimer {
    color: #FF5733;
}

.fun {
    color: #B3FC75;
}


#console {
    color: white;
}

.small_text,
.small_text li {
    color: "#BDBDBD";
    font-size: 10px;
}

.disclaimer {
    color: #FF5733;
}


#console {
    position: absolute;
    z-index: 10;
    color: black;
}